@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movies";
}

<div class="row mb-5 p-md-3 border-bottom border-light">
    <div class="col-12 col-md-4 order-md-2">
        <img class="img-fluid img-thumbnail w-100" src="~/img/avengersinfinitywar.jpg" />
    </div>

    <div class="col-12 col-md-8 order-md-1">

        <div class="mb-5">
            <h2 class="display-4"><strong>Avengers: Infinity War</strong> (2018)</h2>
            <h3 class="text-secondary">An entire universe. Once and for all.</h3>
        </div>        
        <div><strong>Overview</strong></div>

        <div>As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>

        <div class="d-flex justify-content-between mt-5">
            <div>
                <strong>Anthony Russo</strong>
                <p>Director</p>
            </div>

            <div>
                <strong>Joe Russo</strong>
                <p>Director</p>
            </div>
            <div>
                <strong>Christopher Markus</strong>
                <p>Screenplay</p>
            </div>
            <div>
                <strong>Stephen McFeely</strong>
                <p>Screenplay</p>
            </div>

        </div>
        



    </div>
    
</div>

<div class="row">
    <div class="col-12 col-md-4 order-md-2">
        <img class="img-fluid img-thumbnail w-100" src="~/img/avengersendgame.jpg" />
    </div>

    <div class="col-12 col-md-8 order-md-1">

        <div class="mb-5">
            <h2 class="display-4"><strong>Avengers: Endgame</strong> (2019)</h2>
            <h3 class="text-secondary">Part of the journey is the end.</h3>
        </div>
        <div><strong>Overview</strong></div>

        <div>After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.</div>

        <div class="d-flex justify-content-between mt-5">
            <div>
                <strong>Anthony Russo</strong>
                <p>Director</p>
            </div>

            <div>
                <strong>Joe Russo</strong>
                <p>Director</p>
            </div>
            <div>
                <strong>Christopher Markus</strong>
                <p>Screenplay</p>
            </div>
            <div>
                <strong>Stephen McFeely</strong>
                <p>Screenplay</p>
            </div>

        </div>




    </div>

</div>